{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Login{% endblock  %}

{% block label %}
Book Store
{% endblock %}

{% block content %}
    <h1 class="mt-3">Login</h1>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row mt-3">
            <div class="form-row align-items-center">
                {{ form|crispy }}
            </div>

            <button class="btn btn-success mt-3" type="submit">
                Login
            </button>
        </div>
    </form>
    <a class="btn btn-primary mt-3" href="{% url 'signup' %}">Sign Up</a><br>
    <a class="btn btn-danger mt-4" href="{% url 'password_reset' %}">Forgot Password?</a>
{% endblock  %}



