{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block page_title %}Password Change{% endblock  %}
{% block label %}
 Book Store
{% endblock %}

{% block content %}
    <form  action="" method="post">
        <div class="form-row mt-3">
            {% csrf_token %}
            <div class="form-row align-items-center">
                {{ form|crispy }}
            </div>

            <button class="btn btn-primary mt-3" type="submit">
                Change
            </button>
        </div>
    </form>
{% endblock  %}