{% extends '_base.html' %}
{% load crispy_forms_tags %}


{% block page_title %}لیست کتاب ها {% endblock  %}

{% block label %}
 Book Store
{% endblock %}

{% block content %}

    {% for book in books %}
        <a href="{{ book.get_absolute_url }}">
            <h1>{{ book.title | capfirst }}</h1>
        </a>
        <p>{{ book.description | truncatewords:10}}</p>
        <p>{{ book.price }}</p>

        <br>

    {% endfor %}
        <a href="{% url 'book_create_view' %}">اضافه کردن کتاب جدید</a><br>
        <a href="{% url 'home' %}">خانه</a>
{% endblock  %}